<div class="column is-12">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">{{ 'RESEARCHER_THEME.PAGES.RESUME.SKILLS.SECTION'|t }}</div>
      <div class="card-header-icon">
        <span class="icon">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="card-content">
      {% for skill in header.resume_skills %}
        <div class="media">
          <div class="media-content">
            <strong>{{ skill.name }}</strong>{% if skill.level %}, {{skill.level}}{% endif %}
            <div class="tags">
              {% for keyword in skill.keywords %}
              <span class="tag is-{{ theme_config.primary_color }}"><i class="fas fa-tags"></i>&nbsp;{{ keyword }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
