<section class="hero is-{{ page.header.section_size }} is-{{ page.header.section_style }}">
  <div class="hero-body">
    <div class="container">
      {% if page.header.title_enabled %}
        <h2 class="title is-2 has-text-{{ page.header.title_position }}">{{ page.title }}</h2>
      {% endif %}
      <div class="columns is-multiline is-desktop">
        {% for publication in page.header.publications %}
        {% set link = publication.button_link %}
        {% if publication.uploaded_file %}
          {% set link = page.media[publication.uploaded_file].url %}
        {% endif %}

        <div class="column is-half-desktop">
          <div class="box publication">
            <article class="media">
              <div class="media-left">
                <span class="icon is-large small-feature-icon">
                  <i class="fa fa-file-{{ publication.file_icon }}-o"></i>
                </span>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ publication.header }}</strong>&nbsp;<small>{{ publication.small_header }}</small>
                    <br>
                     {{ publication.text }}
                  </p>
                </div>
                {% if link %}
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <a class="button is-white is-small" href="{{ link }}">
                        <span class="icon is-small">
                          <i class="fa fa-{{ publication.button_icon }}"></i>
                        </span>
                        <span>{{ publication.button_label }}</span>
                      </a>
                    </div>
                  </div>
                </nav>
                {% endif %}
              </div>
            </article>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
