{% spaceless %}

{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/logo_with_text.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block stylesheets %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto:400,500,700', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/main.css', 98) %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/main.js', 99) %}
  {% endblock %}
  {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
  {% include 'partials/navigation.html.twig' %}
{% endblock %}
<main>
{% block body %}
  {% block content %}{% endblock %}
{% endblock %}
</main>

{% block footer %}
  <footer class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-item is-hidden-mobile">
              <img src="{{ url('theme://images/logo.svg') }}" alt="iBrain Ltd" style="height:50px">
            </div>
            <div class="level-item">
              <div>
                <p>&copy; {{ site.title|e('html') }} {{ theme_config.initial.date|date("Y") }}-{{ "now"|date("Y") }}</p>
                <p>Developed by <a href="https://leonidboykov.com">Leonid Boykov</a></p>
              </div>
            </div>
          </div>
          <div class="level-right is-hidden-mobile">
            {% include 'partials/navigation_alt.html.twig' %}
          </div>
        </nav>
      </div>
    </div>
  </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>

{% endspaceless %}
