{% spaceless %}
<!DOCTYPE html>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}"{% if theme_config.navbar_fixed %} class="has-navbar-fixed-top"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    {% if theme_config.theme_color %}
      <meta name="theme-color" content="{{ theme_config.theme_color }}">
    {% endif %}

    <!-- TODO: Add page metadata -->
    <!-- TODO: Review page header -->
    <!-- TODO: Add RSS links -->

    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    {% block stylesheets %}
      <!-- TODO: Make fonts customisable -->
      {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic', 100) %}
      {% do assets.addCss('theme://css/main.css', 99) %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascripts %}
      {% do assets.addJs('jquery', 100) %}
      {% do assets.addJs('https://use.fontawesome.com/releases/v5.0.0/js/all.js', { 'priority': 99, 'loading': 'defer' }) %}
      {% do assets.addJs('theme://js/main.js', { 'priority': 95, 'loading': 'defer', 'group': 'bottom' }) %}
    {% endblock %}
    {{ assets.js() }}
  </head>
  <body>
    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}
    {{ assets.js('bottom') }}
  </body>
</html>
{% endspaceless %}
