{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <h2 class="title is-2 has-text-center">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</h2>
        <p>
        {% if query %}
          {% set count = search_results ? search_results.count : 0 %}
          {% if count == 1 %}
            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query)|raw }}
          {% else %}
            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query, count)|raw }}
          {% endif %}
        {% endif %}
        </p>
        {% for page in search_results %}
        <br />
        <div class="box">
          <h2 class="title is-2"><a href="{{ page.url }}">{{ page.title }}</a></h2>
          <p class="content">
            {{ page.summary }}
          </p>
        </div>
        {% endfor %}
			</div>
		</div>
  </section>
{% endblock %}
