{% extends 'partials/base.html.twig' %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          {% set collection = search_results ?: page.collection() %}
          {% for post in collection %}
          {% set author = page.find(post.header.author) %}
            <div class="columns">
              <div class="column is-12">
                <div class="card">
                  <div class="card-content">
                    <div class="media">
                      {% if post.header.thumbnail %}
                        <div class="media-left">
                          <figure class="image">{{ post.media[post.header.thumbnail].resize(200,200).html }}</figure>
                        </div>
                      {% endif %}
                      <div class="media-content">
                        <h3 class="title is-4"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        <h3 class="subtitle is-6 has-text-grey">by <a href="{{ author.url }}">{{ author.title }}</a> on {{ page.date|date("jS M Y") }}</h3>
                        <hr>
                        <div class="content">{{ post.summary }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <aside class="column">
          {% if config.plugins.simplesearch.enabled %}
            {% include 'partials/widgets/search.html.twig' %}
          {% endif %}
        </aside>
      </div>
    </div>
  </section>
{% endblock %}

