{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% block content %}
  <section class="hero is-{{ page.header.section_size }} is-{{ page.header.section_style }}">
    <div class="hero-body">
      <div class="container">
        {% if page.header.title_enabled %}
          <h2 class="title is-2 has-text-{{ page.header.title_position }}">{{ page.title }}</h2>
        {% endif %}
        {% for member in collection %}
        <div class="box">
          <div class="columns">
            <div class="column is-2 has-text-centered">
              {% if member.media[member.header.photo] %}
              {{ member.media[member.header.photo].html }}
              {% else %}
              <img src="//placehold.it/162?text=NO+PHOTO" />
              {% endif %}
              {% if member.header.email %}
              {{ member.header.email|safe_email }}
              {% endif %}
              <nav class="level">
                <div class="level-left">
                  {% for social in member.header.social %}
                  <a class="level-item" href="{{ social.link }}">
                    <span class="icon"><i class="fa fa-{{ social.icon }}"></i></span>
                  </a>
                  {% endfor %}
                </div>
              </nav>
            </div>
            <div class="column">
              <h3 class="title is-3"><a href="{{ member.url }}">{{ member.title }}</a></h3>
              <h4 class="subtitle heading is-5">{{ member.header.job }}</h4>
              <div class="content">
                {{ member.summary }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
